body {
  background-color: #00001a;
}

.cpsButton {
  background-color: darkred;
  border-width: 5px;
  border-radius: 10px;
  padding-left: 1 rem;
  padding-right: 1 rem;
  padding-top: 0.5 rem;
  padding-bottom: 0.5 rem;
  margin: auto 0px;
}
